@media (max-width: 767px) {

    .article {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .article-preview {
        height: auto;
        width: auto;
        padding: 40%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }

}